/* AppComponent's private CSS styles */
h1 {
    font-size: 1.2em;
    color: #999;
    margin-bottom: 0;
  }
  h2 {
    font-size: 2em;
    margin-top: 0;
    padding-top: 0;
  }


  header{
    line-height: 50px;
    height: 50px;
    background:#607d8b;
    color: #fff;
    padding-left: 20px;
  }

  .container{
    display: flex;
    justify-content: space-between;
    aside{
      padding:20px 20px 0 20px;
      width: 130px;
      background-color: #607d8b;
      height: calc(100vh - 70px);
    }
    aside a {
      text-align: center;
      height: 30px;
      line-height: 30px;
      padding: 5px 10px;
      text-decoration: none;
      margin: 10px 0 0 0;
      display: block;
      background-color: #eee;
      border-radius: 4px;
    }
    aside a:visited, a:link {
      color: #607d8b;
    }
    aside a:hover {
      color: #039be5;
      background-color: #cfd8dc;
    }
    aside a.active {
      color: #039be5;
    }
  }