<div class="detail">
    <div class="detail-img">
        <img src={{goodDetail.img}}>
    </div>
    <div class="detail-text">
        <div class="content">
            <p>{{goodDetail.desc}}</p>
            <div>
                <mat-form-field>
                    <mat-select placeholder="购买数量">
                        <mat-option *ngFor="let count of counts" [value]="count.value">
                            {{count.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <button mat-button>加入购物车</button>
        </div>
    </div>
</div>
<div class="center">
    <h1>{{goodDetail.name}}</h1>
    <h2>{{goodDetail.price}}</h2>
</div>